form {
    max-width: 600px; /* Limita el ancho del formulario para una mejor apariencia */
    margin: 2rem auto; /* Centra el formulario horizontalmente */
    padding: 1.5rem;
    background: #ffffff;
    border-radius: 12px; /* Bordes redondeados */
   
}

form label {
    display: block; /* Hace que cada etiqueta ocupe toda la línea */
    margin-bottom: 0.9rem;
    font-weight: 600; /* Negrita para las etiquetas */
    color: #1f2937;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 0.95rem;
    outline: none;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #ffffff; /* Cambia el borde a blanco al enfocar */
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1); /* Agrega un efecto de sombra azul claro al enfocar */
}

form button {
    background: #330053;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
}

form button:hover {
    background: #ffd5f7;
}